/* HTML TAGS STYLE */

h1, h2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-weight: bold;
  color: #4aaaa5;
  border-bottom: 3px solid #dddddd;
}

h1 {
  font-size: 2em;
  padding-bottom: 40px;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.3em;
  padding-bottom: 25px;
}

p {
  color: #7a8181;
  font-size: small;
  margin-left: 15px;
}

/* NAVIGATION MENU */

#navigation-top {
  background-color: white;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #cccccc;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

.navbar-brand {
  background-color: #59aaa5;
  padding: 15px 20px;
  margin-left: 20px;
}

#navigation-top > nav > a {
  color: white;
}

#collapsibleNavId {
  justify-content: end;
}

#portfolio-button {
  border-left: 1px solid #efefef;
  border-right: 1px solid #efefef;
}

/* MAIN CONTENT STYLE */

#main-content {
  height: calc(100vh - 160px);
  padding-top:20px;
  width: 100%;
  background-image: url(../img/concrete_seamless.png);
}

#square {
  width: 70%;
  padding: 40px 30px 40px 10px;
  margin: 0px 35px;
  background-color: white;
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #969292;
  font-size: 1.2em;
  line-height: 1.5em;
}

#about-me {
  margin: 0px;
}

#about-me h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
  font-weight: bold;
  color: #59aaa5;
}

#cat-image {
  vertical-align: middle;
  margin-left: 10px;
  float: left;
}

#paragraph {
  margin: 0px 5px;
  display: inline-block; 
  vertical-align: middle;
  float: right;
  width: 50%;
}

/* FOOTER STYLING */

footer {
  padding-top: 20px;
  height: 80px;
  bottom: 0;
  background-color: #666666;
  border-top: 4px solid #4aaaa5;
  color: #CCCCCC;
  text-align: center;
}

/* PORTFOLIO STYLING */

#first-row img {
  width: 200px;
  height: 150px;
  margin: 10px 0px 10px 30px;
}

#second-row img {
  width: 200px;
  height: 150px;
  margin: 10px 0px 10px 30px;
}

#third-row img {
  width: 200px;
  height: 150px;
  margin: 10px 0px 50px 30px;
}

/* CONTACT STYLING */

textarea {
  resize: none;
  width: calc(100% - 20px);
  font-size: 1em;
  padding: 5px 5px 5px 15px;
}

input {
  width: calc(100% - 20px);
  padding: 5px 5px 5px 15px;
  font-size: .8em;
}

#submit-btn {
  background-color: #4aaaa5;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 1em;
  width: auto;
  padding: 8px 16px 8px 16px;
  cursor: pointer;
}

/* MEDIA QUERIES */

/* Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  
}
